# Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
letters = ['p','a','n','d','s']
my_nums = [1, 2, 3, 4, 5]
arr = np. array(my_nums)
d = {'p':10,'a':20,'n':30,'d':40,'s':50}

## Creating a Series

In [4]:
pd.Series(data = my_nums)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series(data = my_nums, index = letters)

p    1
a    2
n    3
d    4
s    5
dtype: int64

* __p is index of 1__

In [6]:
pd.Series(my_nums, letters)

p    1
a    2
n    3
d    4
s    5
dtype: int64

In [7]:
pd.Series(arr, letters)

p    1
a    2
n    3
d    4
s    5
dtype: int64

In [8]:
pd.Series(d)

p    10
a    20
n    30
d    40
s    50
dtype: int64

## Data in a Series

In [9]:
pd.Series(data = letters)

0    p
1    a
2    n
3    d
4    s
dtype: object

In [10]:
 pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

In [11]:
ser1 = pd.Series([1,2,3,4],["New York","Berlin","London","Istanbul"])

In [12]:
ser1

New York    1
Berlin      2
London      3
Istanbul    4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],["New York","Berlin","Rome","Istanbul"])

In [14]:
ser2

New York    1
Berlin      2
Rome        5
Istanbul    4
dtype: int64

In [15]:
ser1["Istanbul"]

4

In [16]:
ser3 = pd.Series(data = letters)

In [17]:
ser3

0    p
1    a
2    n
3    d
4    s
dtype: object

In [18]:
ser3[0]

'p'

In [19]:
ser1 + ser2

Berlin      4.0
Istanbul    8.0
London      NaN
New York    2.0
Rome        NaN
dtype: float64