# DataFrames_3

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

## Multi-Index and Index Hierarchy

In [3]:
outside = ['E1','E1','E1','E2','E2','E2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index

[('E1', 1), ('E1', 2), ('E1', 3), ('E2', 1), ('E2', 2), ('E2', 3)]

In [4]:
# MultiIndex.from_tuples  : Convert list of tuples to a MultiIndex.

hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('E1', 1),
            ('E1', 2),
            ('E1', 3),
            ('E2', 1),
            ('E2', 2),
            ('E2', 3)],
           )

In [6]:
df = pd.DataFrame(randn(6,2),hier_index,["Column_A","Column_B"])

In [7]:
df

      Column_A  Column_B
E1 1  1.935760  0.444493
   2 -0.200231 -0.366348
   3  0.371382  0.351289
E2 1 -0.269905 -0.084821
   2 -0.272037  0.018486
   3  0.335527  1.151074

In [8]:
df.loc['E1']

   Column_A  Column_B
1  1.935760  0.444493
2 -0.200231 -0.366348
3  0.371382  0.351289

In [9]:
df.loc['E1'].loc[1]

Column_A    1.935760
Column_B    0.444493
Name: 1, dtype: float64

In [10]:
df.index.names = ["Groups","Nums"]

In [11]:
df

             Column_A  Column_B
Groups Nums
E1     1     1.935760  0.444493
       2    -0.200231 -0.366348
       3     0.371382  0.351289
E2     1    -0.269905 -0.084821
       2    -0.272037  0.018486
       3     0.335527  1.151074

In [12]:
df.loc['E2'].loc[2]["Column_B"]

0.018486480429004894

In [13]:
df

             Column_A  Column_B
Groups Nums
E1     1     1.935760  0.444493
       2    -0.200231 -0.366348
       3     0.371382  0.351289
E2     1    -0.269905 -0.084821
       2    -0.272037  0.018486
       3     0.335527  1.151074

In [14]:
# Cross-section = xs . 
# This method takes a `key` argument to select data at a particular level of a MultiIndex.

df.xs('E1')

      Column_A  Column_B
Nums
1     1.935760  0.444493
2    -0.200231 -0.366348
3     0.371382  0.351289

In [15]:
df.xs(1,level = "Nums")

        Column_A  Column_B
Groups
E1      1.935760  0.444493
E2     -0.269905 -0.084821