# Data Input and Output

In [1]:
import pandas as pd

## CSV

In [2]:
pd.read_csv('example_csv.csv')

    a    b  c
0  78   12  1
1  78   12  2
2  78  324  3
3   7    2  4
4  88   23  5

In [3]:
df = pd.read_csv('example_csv.csv')

### CSV Output

In [4]:
df.to_csv("my_csv_output",index = False) 

# index : bool, default True. if you don't want write row names (index), you should use index = False.

In [5]:
pd.read_csv("my_csv_output")

    a    b  c
0  78   12  1
1  78   12  2
2  78  324  3
3   7    2  4
4  88   23  5

## Excel

In [6]:
pd.read_excel("Example_Excel.xlsx")

    a  b   c    d
0   2  1  21    3
1   4  3  43   49
2   6  5  65  121
3   8  7  78  225
4  10  9  91  100

### Excel Output

In [7]:
df.to_excel("my_excel_output.xlsx", sheet_name = "Newsheet")